body{
    color:turquoise;
    background-color: blue;
    font-size: 16px;
    border-top: 20px;
    border-left:darkcyan;
    border-color:darkcyan;
    border-width: 5px;
    border-style: none;
}
a{
    color: white;
}
img{
width: 235px; ;
height: 200px; ;
border:greenyellow;
border-style: solid;
}
.capa{
    width: 234px;
}
.bandeira{
    height: 300px; ;
    width: 450px; ;
}
.bandeira{
    height: 300px; ;
    width: 450px; ;
}
h1{
    color:paleturquoise;
}
    
